package {{basePackage}};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class {{mainClassName}}Tests {

    @Test
    void contextLoads() {
        // Basic test to verify context loads
    }
}
