package {{basePackage}};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

/**
 * Testes da aplicação {{projectName}}
 */
@SpringBootTest
class {{mainClassName}}Tests {

    @Test
    void contextLoads() {
        // Teste básico para verificar se o contexto carrega
    }
}
